%main__uptitle {
  font-size: 24px;
  font-family: $kaushan-script400;
  color: $grey;
  text-align: center;
  margin-bottom: 18px;
}

%main__title {
  font-size: 30px;
  font-family: $montserrat700;
  color: $grey;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 66px;
}
