  $kaushan-script400: "Kaushan Script";
  $roboto300: "Roboto300";
  $roboto400: "Roboto400";
  $montserrat400: "Montserrat400";
  $montserrat700: "Montserrat700";
  $white: #fff;
  $silver: #999999;
  $grey: #333333;
  $yellow: #fce38a;
  $silverlight: #cccccc;
  $corallight: #f38181;
