:root {
  --font-wisdom: "Wisdom Script";
  --font-montserrat_r: "MontserratR", serif;
  --font-montserrat_b: "MontserratB", serif;
  --font-droid: "Droid Serif", serif;
  --font-roboto: "Roboto Slab", sans-serif;
  --color-darkgray: #222222;
  --color-silver: #777777;
  --color-silverlight: #bbbbbb;
  --color-white: #fff;
  --color-gold: #fed136;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* VISUALLY HIDDEN ELEMENTS */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 940px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

/*  MENU STYLES */
.logo {
  font-size: 26px;
  font-family: var(--font-wisdom);
  color: var(--color-gold);
  line-height: 41px;
  letter-spacing: 1.06px;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  width: 486px;
}
.menu__list-link {
  display: block;
  font-size: 14px;
  font-family: var(--font-montserrat_r);
  color: var(--color-darkgray);
  line-height: 41px;
  text-transform: uppercase;
}
.menu__list-link:hover {
  color: var(--color-gold);
}

/* SERVICES */
.services {
  padding-top: 58px;
  padding-bottom: 120px;
}
.title {
  font-size: 40px;
  font-family: var(--font-montserrat_b);
  color: var(--color-darkgray);
  text-transform: uppercase;
  line-height: 1.875;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 4px;
}
.subtitle {
  display: block;
  font-size: 16px;
  font-family: var(--font-droid);
  color: var(--color-silver);
  font-style: italic;
  text-align: center;
  margin-bottom: 78px;
}
.services__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.services__list-items {
  width: 274px;
}
.services__list-title {
  font-size: 18px;
  font-family: var(--font-montserrat_b);
  color: var(--color-darkgray);
  line-height: 4.167;
  text-align: center;
}
.services__list-items::before {
  display: block;
  content: "";
  border: 3px solid var(--color-gold);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.services__list-items:first-of-type::before {
  background-image: url(https://picua.org/images/2019/11/11/cc4076ee3ebc7f8bcc314b86924b983d.png);
  background-repeat: no-repeat;
  background-position: center;
}
.services__list-items:nth-child(2)::before {
  background-image: url(https://picua.org/images/2019/11/11/49bf85840990329ea7f9909603a06fb1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.services__list-items:last-of-type::before {
  background-image: url(https://picua.org/images/2019/11/11/4cd627a39c6ec2370037acfce7e10b0d.png);
  background-repeat: no-repeat;
  background-position: center;
}
.services__list-contetnt {
  font-size: 14px;
  font-family: var(--font-roboto);
  color: var(--color-silver);
  text-align: center;
  line-height: 20px;
  letter-spacing: -0.35px;
}

/* CONTACTS */
.contact {
  background-color: var(--color-darkgray);
  background-image: url(https://picua.org/images/2019/11/11/23112d8e700afa159c10b8d763284f4f.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  min-height: 678px;
  padding: 106px 0 116px 0;
}

.invertcolor {
  color: var(--color-white);
}
.contact__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact__form-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 459px;
}
.contact__form-input {
  font-size: 14px;
  font-family: var(--font-montserrat_b);
  color: var(--color-silver);
  text-transform: uppercase;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  width: 459px;
  height: 54px;
  margin-bottom: 30px;
  padding-left: 20px;
  cursor: pointer;
}
.contact__form-textarea {
  font-size: 14px;
  font-family: var(--font-montserrat_b);
  color: var(--color-silver);
  text-transform: uppercase;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  width: 459px;
  height: 214px;
  padding: 20px 0 0 20px;
  resize: none;
  cursor: pointer;
}
.contact__form-input:focus {
  outline: none;
}
.contact__form-input::placeholder {
  color: var(--color-silverlight);
}
.contact__form-textarea::placeholder {
  color: var(--color-silverlight);
}
.contact__form-input[required]:focus:valid {
  box-shadow: 0px 0px 4px 4px rgba(86, 171, 47, 0.75);
}
.contact__form-input[required]:focus:invalid {
  box-shadow: 0px 0px 4px 4px rgba(233, 32, 56, 0.75);
}
.contact__form-btn {
  display: block;
  font-size: 18px;
  font-family: var(--font-montserrat_b);
  color: var(--color-white);
  text-transform: uppercase;
  line-height: 1.2;
  border: none;
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  margin: 0 auto;
  cursor: pointer;
}
.contact__form-textarea:focus {
  outline: none;
}
.contact__form-textarea[required]:focus:valid {
  box-shadow: 0px 0px 4px 4px rgba(86, 171, 47, 0.75);
}
.contact__form-textarea[required]:focus:invalid {
  box-shadow: 0px 0px 4px 4px rgba(233, 32, 56, 0.75);
}
