.header {
  background-image: linear-gradient(90deg, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%), url(https://picua.org/images/2019/11/15/607f833f612d71ecd8324b7dcfc8b58c.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 26px;
  padding-bottom: 230px;

  &__uptitle {
    font-size: 72px;
    font-family: $kaushan-script400;
    color: $white;
    text-align: center;
  }

  &__title {
    font-size: 150px;
    font-family: $montserrat700;
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }
}

.navigation {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 162px;

  &__logo {
    font-size: 30px;
    font-family: $montserrat700;
    color: $white;
  }

  &__btn {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80px;

    &-icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      fill: $white;
    }
  }
}

.inner-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 624px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 490px;

    &-link {
      position: relative;
      font-size: 14px;
      font-family: $montserrat400;
      color: $white;
      text-transform: uppercase;
      -webkit-transition: color 1s linear;
      -o-transition: color 1s linear;
      transition: color 1s linear;


      &::after {
        display: block;
        content: "";
        position: absolute;
        width: 90%;
        left: 5%;
        height: 3px;
        background-color: $yellow;
        margin-top: 10px;
        opacity: 0;
      }

      &:hover {
        color: $yellow;
        transition: color 3s ease-out;

        &::after {
          opacity: 1;
          transition: all 0.2s linear;
        }
      }

      &:focus {
        color: $yellow;
        transition: color 3s ease-out;

        &::after {
          opacity: 1;
          transition: all 0.2s linear;
        }
      }
    }
  }
}

.navigation__btn-item:hover .navigation__btn-icon {
  fill: $yellow;
  transition: .2s linear;
  cursor: pointer;
}

.nowrap {
  display: block;
}

@media (min-resolution: 192dpi) {
  .header {
    background-image: linear-gradient(90deg, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%), url(https://picua.org/images/2019/11/15/9ba53a2e63785c3ae0ec5bbbb6333d2b.jpg);
  }
}
