.team {
  padding-top: 44px;
  padding-bottom: 78px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      position: relative;

      &:hover .wrapper-socials {
        opacity: 1;
        transition: 0.5s linear;
        cursor: pointer;
      }

      &:hover .team__list-icons {
        opacity: 1;
        transition: 0.5s linear;
        cursor: pointer;
      }

    }

    &-img {
      margin-bottom: 28px;
    }

    &-title {
      font-size: 14px;
      font-family: $montserrat400;
      color: $grey;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px;
    }

    &-subtitle {
      display: block;
      font-size: 15px;
      font-family: $roboto300;
      color: $silver;
      line-height: 1.6;
      text-align: center;
    }

    &-socials {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 228px;
    }

    &-link {
      display: block;
      background-color: $yellow;
      width: 56px;
      height: 56px;

      &:hover .social-icons {
        fill: $white;
        transition: 0.3s linear;
      }
    }
  }
}

.main__subtitle {
  font-size: 15px;
  font-family: $roboto300;
  color: $silver;
  line-height: 1.6;
  text-align: center;
  width: 954px;
  margin: 0 auto;
  margin-bottom: 88px;
}

.wrapper-socials {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  -webkit-box-shadow: 10px 10px 0 0 #95e1d3;
  box-shadow: 10px 10px 0 0 #95e1d3;
  opacity: 0;
}

/* SOCIALS-ICONS */

.social-icons {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  fill: $corallight;
}
